* {
	box-sizing: border-box;
}

.App {
	padding: 30px;
	display: flex;
	min-height: 100vh;

	background-color: #0077c3;
}

.App > div {
	margin-right: 50px;
}

#root > div > div > div:nth-child(4) {
	display: flex;
	gap: 10px;
}

#root > div > div > div:nth-child(4) > button {
	border-radius: 4px;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
	border: 0;
}

.App > div > ul > li {
	width: 180px;
	display: flex;
	justify-content: space-between;

	list-style-type: none;
	background-color: #fff;
}

.App > div > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0;
}

.error {
	border: 1px solid red;
}

.error-message {
	color: red;
}

.active-filter {
	background-color: lightgreen;
}

.is-done {
	opacity: 0.5;
}

.todo-card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 10px;

	max-width: 340px;
	width: 100%;
	min-height: 362px;
	height: 100%;

	background-color: #e3e4e6;
	border-radius: 5px;
}

.todo-card > h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: 30px;
	color: #40506c;
}
